@import "_vars";

body {
    background: white;
    color: @lightblue;
    font-family: 'Helvetica Neue', 'Lucida Grande', 'Helvetica', Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}
